body{
	font-family: sans-serif;
	height: 100vh;

	background: linear-gradient(#1D222C,rgba(0,0,0,0.7));

	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 40px;
	color: #bbb;
}

span.txtani{

	border-right: 2px solid #747474;

	animation-name: mycursorani;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	

}

@keyframes mycursorani{
	from{
		border: none;
	}
	to{
		border-right: 2px solid #747474;
	}
}

.red{
	color: #B0EBCE;
}

.skyblue{
	color: #F0D4BF;
}

.violet{
	color: #D5365A;
}

.yellow{
	color: #E9A540;
}

em{
	color: #fff;
	font-style: unset; /*no italic*/

	animation-name: textlighting;
	animation-duration: .8s;
	animation-fill-mode: backwards;
}

@keyframes textlighting{

	0%{
		opacity: 0;
	}

	50%{
		opacity: 0.5;
		text-shadow: 0 0 10px #fff;
	}

	100%{
		opacity: 1;
	}


}